* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/*====================Header part starts======================== */
.hr {
  width: 80px;
  margin: auto;
}
.header {
  width: 100%;
  height: auto;
  background: url(images/Coffee-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.navbar a {
  color: #fff;
  font-weight: 500;
}
.navbar a:hover {
  color: #ffc107;
}

.navbar-toggler {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
/*====================Header part starts======================== */
/*====================Card part start======================== */

.text-box {
  width: 600px;
  height: 450px;
  margin: auto;
}
.card {
  width: 300px;
}
.card-img-top {
  width: 100%;
  height: 250px;
}
/*====================Card part end======================== */
/*====================About  part start======================== */
.about-img img {
  width: 400px;
  height: 350px;
  border-radius: 20px;
}
.about-text {
  width: 40%;
}
.bt-box {
  border: 1.5px solid #fff !important;
  border-radius: 30px !important;
  background-color: black !important;
}
/*====================About  part end======================== */
/*====================preview  part start======================== */
.d-block {
  width: 100%;
  height: 400px;
}
.icon {
  color: #fff !important;
}
/*====================preview  part end======================== */
/*====================footer  part start======================== */
.copy {
  font-size: 20px;
}
/*====================footer  part end======================== */
/*====================@media start======================== */
@media screen and (max-width: 768px) {
  .box {
    flex-direction: column-reverse;
    padding: 0px 10px;
  }
  .about-img img {
    width: 100%;
  }
  .about-text {
    width: 100%;
    text-align: center;
  }
  .about-p {
    font-size: 10px !important;
    color: gray;
  }
}
@media screen and (max-width: 620px) {
  .text-box {
    width: 100%;
  }
  .h2-sec {
    font-size: 24px;
  }
  .p-sec {
    font-size: 12px;
  }
  .prosucts {
    flex-direction: column;
  }
}
